@import "tailwindcss";
html,
body{
height: 100%;
width: 100%;
}
h1{
    margin: 5px;
    font-size: 50px;
}
button, input{
    padding:10px 20px;
    margin:5px;
    background: #343333;
    color: aliceblue;
}